
/* ----- | Main Navigation | ----- */
/* = switching colors =*/
#main-nav > li:first-of-type a {
    color: #707070;
}
#main-nav > li:nth-of-type(4) a {
    color: #95FDC1;
}

/* ----- | About Section | ----- */
main h2 {
    font-size: 3.2rem;
    color: #95FDC1;
    text-align: center;
    margin: 4rem;
    font-weight: 700;
}
/* = image =*/
main img {
    float: right;
    width: 400px;
    display: inline-block;
    margin: 0 20rem 0 4rem;
}
/* = paragraphs =*/
main p {
    color: #707070;
    font-size: 2.4rem;
    margin: 2rem 5rem 0 10rem;
    padding: 0 10rem;
    line-height: 1.5;
}

main::after {
    content: "";
    clear: both;
    display: block;
}