
html {
    font-size: 62.5%;
}

body {
    background-color: #121314;
    font-family: Quicksand;
}

/* ----- | HEADER | ----- */
header {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(30, 14, 173);
}
header::after {
    content: "";
    display: block;
    height: 300px;
    width: 300px;
    background-image: url('../icons/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10%;
    right: 42%;
}

/* ----- | Main Navigation | ----- */
#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 1rem 1rem;
    padding: 1rem;
    font-size: 2.4rem;
}
#main-nav a {
    color: #707070;
    padding: 0 1.5rem;
    border-right: 2px solid #515658;
}
#main-nav a:first-of-type {
    color: #95FDC1;
}
#main-nav a:last-of-type {
    border-right: none;
}

/* ----- | Image Carousel | ----- */
.carousel-container {
    position: relative;
    width: 40%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    height: 400px;
}

/* ----- | BUTTONS | ----- */
#prev-btn {
    position: absolute;
    z-index: 10;
    font-size: 0;
    left: 25%;
    top: 70%;
    background-color: transparent;
}
#prev-btn::before {
    content: "";
    display: block;
    height: 51px;
    width: 51px;
    background-image: url('../icons/previous.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 2s ease-in-out;
}
#prev-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}
#next-btn {
    position: absolute;
    z-index: 10;
    font-size: 0;
    right: 25%;
    top: 70%;
    background-color: transparent;
    transition: all 2s ease-in-out;
}
#next-btn::before {
    content: "";
    display: block;
    height: 51px;
    width: 51px;
    background-image: url('../icons/next.png');
    background-repeat: no-repeat;
    background-position: center;
}
#next-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* ----- | Welcome Message | ----- */
main span {
    display: block;
    font-size: 4rem;
    color: #95FDC1;
    font-family: Heavy Data;
    margin: 2rem;
}
main p {
    color: #707070;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4rem;
}
main hr {
    width: 50%;
}

/* ----- | Gallery Cards | ----- */
#gallery-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card a {
    margin: 0 4rem;
    font-size: 0;
    display: flex;
    border: 2px solid #95FDC1;
    width: 275px;
    height: 400px;
    border: 5px solid #95FDC1;
}
#gallery-cards li:nth-of-type(1)::before {
    content: "";
    display: block;
    height: 400px;
    width: 275px;
    background-image: url('../optimized_art/full/prize.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
    position: absolute;
    bottom: 0;
    margin: 0 4rem;
}
#gallery-cards li:nth-of-type(2)::before {
    content: "";
    display: block;
    height: 400px;
    width: 275px;
    background-image: url('../optimized_art/full/sam.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
    position: absolute;
    bottom: 0;
    margin: 0 4rem;
}
#gallery-cards li:nth-of-type(3)::before {
    content: "";
    display: block;
    height: 400px;
    width: 275px;
    background-image: url('../optimized_art/full/summerepos.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
    position: absolute;
    bottom: 0;
    margin: 0 4rem;
}
.card h2 {
    font-size: 3.2rem;
    font-family: Heavy Data;
    color: #95FDC1;
    text-align: center;
    margin-bottom: 1rem;
}


/* ----- | FOOTER | ----- */
footer {
    color: #707070;
    margin-top: 10rem;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8rem;
    border-top: 2px solid #95FDC1;
}
footer a {
    color: #707070;
}
footer p {
    margin-top: 2rem;
}
footer nav {
    margin-top: 2rem;
}
#footer-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
/* = social media = */
#social-media {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#social-media a:first-of-type::before { /* deviantart */
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    background-image: url('../icons/deviant.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}
#social-media a:nth-of-type(2)::before { /* instagram */
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    background-image: url('../icons/instagram.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}
#social-media a:nth-of-type(3)::before { /* youtube */
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    background-image: url('../icons/youtube.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}
#social-media a:nth-of-type(4)::before { /* twitter */
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    background-image: url('../icons/twitter.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}
#social-media a:last-of-type::before { /* twitch */
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    background-image: url('../icons/twitch.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}
